*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(107, 109, 109);
}
.container{
    background-color:transparent;
   
    margin: 20px auto;
    width: 60% ;
}
.warn{
    font-size: 30px;
    color: rgb(230, 151, 151);
    font-weight: 800;
    margin: 10px 32%;
}
.word{
    display: inline-block;
    text-align: center;
    margin:0  37% ;
}
.word .k{
    display: inline-block;
    margin: 10px auto;
    background-color: rgb(209, 209, 204);
    width: 30px;
    height: 30px;
}
.keyboard{
    border: 2px solid rgb(79, 78, 78);
    background-color: rgb(224, 222, 222);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
}
.key{
    display: inline-block;
    justify-content: center;
    margin: 10px;
    background-color: rgb(138, 172, 207);
    border: 1px solid black;
    height:50px;
    width:50px;
    line-height: 30px;
    text-align: center;

}
.btn{
    margin: 20px 46% ;
    padding: 5px;
    background-color: rgb(223, 223, 72);
}